################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
/wwwroot/uploads/agreements

# Vendor KYC documents (private, never commit)
App_Data/
